
body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.price{
  font-weight: bold;
  font-size: 26px;
}

.botton_add_to_cart{
  font-weight: 39px;
  font-size:20px
}